{% extends "home/base.html" %}

{% load static %}

{% block bg %}{% static "home/img/portfolio-bg.jpg" %}{% endblock bg %}

{% block header %}
<h1>Portafolio</h1>
<span class="subheading">Proyectos</span>
{% endblock header %}

{% block content %}
  
<!-- Contenido Principal -->
  <div class="container">
    <div class="row project">  	
      {% for project in projects %}
        
      <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid" src="{{ project.image.url }}" alt="project-image">
      </div>
      <div class="col-lg-7 col-md-8">
        <h2 class="section-heading title">{{ project.title }}</h2>   
        <p>{{ project.description }}</p>
        {% if project.link %}
        <p><a href="{{ project.link }}" target="_blank">Más información</a></p>
        {% endif %}
        <hr>
      </div>

      {% endfor %}
    </div>
  </div>

{% endblock content %}
