{% extends "home/base.html" %}

{% load static %}

{% block bg %}{% static "home/img/about-bg.jpg" %}{% endblock bg %}

{% block header %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock header %}

{% block content %}

    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'home/img/avatar.png' %}" alt="avatar">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Ricardo Véronica Duran</h2>   
          <p>Nacido en... lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit...</p>
        </div>
      </div>  
    </div>

{% endblock content %}
