{% extends "home/base.html" %}

{% load static %}

{% block bg %}{% static "home/img/contact-bg.jpg" %}{% endblock bg %}

{% block header %}
<h1>Ricardo Véronica Duran</h1> 
<span class="subhe">Portada</span>
{% endblock header %}
